/* -----------------
 * Global Styles
 * ----------------- */

body {
  margin: 0;
  height: 100vh;
  color: #111;
  font-family: 'Nunito', sans-serif;
  display: grid;
  grid-template-rows: 10% 85% 5%;
  grid-template-areas:
  "header"
  "main-container"
  "footer";
}

a,
a:link,
a:visited {
  color: #111;
  text-decoration: none;
  transition: 0.2ms ease-in;
}

a:focus,
a:active,
a:hover {
  color: rgb(110, 52, 202);
}

/* TODO remove these styles */
.selfie {
  height: 300px;
  width: 200px;
}


/* -----------------
 * Header Styles
 * ----------------- */

header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header h1 {
  font-size: 2.5em;
}

nav {
  grid-column: 2 / span 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  display: inline;
  margin: 0 20px 0 20px;
}


/* -----------------
 * Main Container Styles
 * ----------------- */

 .main-container {
  grid-area: main-container;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}

.column-1,
.column-2 {
 display: flex;
 justify-content: space-around;
 align-items: center;
}

.column-2 {
  display: grid;
  grid-template-rows: 80% 20%;
}

.toggle-theme-btn {
  background: #fff;
  color: #333;
  padding: 10px 20px;
  width: 30%;
  font-size: 16px;
  border-radius: 3px;
  justify-self: center;
}

/* TODO Create slider/add animation */
.toggle-theme-btn:hover {
  background: #333;
  color: #fff;
}


/* -----------------
 * Footer Styles
 * ----------------- */

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  border-top: 1px solid rgba(255, 255, 255, 0.18);
}

.social-icon {
  height: 30px;
  width: 30px;
  margin: auto 5px;
}

.linkedin-logo {
  height: 30px;
  width: 30px;
}

/* -----------------
 * About Page Styles
 * ----------------- */